
// .header {
// 	padding-top: 0 !important;
// }

#mainNav .navbar-brand {
    color: #F4623A !important;
}
.white-top{
	background-color: #fff !important;
	// top:5px;
}
.white-bottom{
	background-color: #fff !important;
}
// .header {
//     float: 0 !important;
//     height: 0px !important;
//     padding: 0px !important;
// }


a.nav-link.page {
    color: #F4623A !important;
}
button.logout.btn.btn-outline-info {
  float: right;
  margin-top: -55px;
}
