// nav#mainNav {
//     background-color: #fff;
// }
#mainNav .navbar-brand {
    color: #F4623A !important;
}
// #mainNav{
// background-color: #fff !important;
// }
// .header{
// 	background-color: #fff;
// }

// .navbar-laravel {
//   background-color: #fff;
//   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
// }
.white-top{
	background-color: #fff !important;
	// top:5px;
}
.white-bottom{
	background-color: #fff !important;
}
