#mainNav .navbar-brand
{
    color: #F4623A !important;
}
.white-top
{
	background-color: #fff !important;
	// top:5px;
}
.white-bottom
{
	background-color: #fff !important;
}

a.nav-link.page
{
    color: #F4623A !important;
}
a.nav-link
{
    color: #F4623A !important;
}
button.logout.btn.btn-outline-info
{
  float: right;
  margin-top: -55px;
  position: relative;
}
