.profile-section
{
    top: 50px;
}

#auth-post
{
	margin-top: 175px;
}

button.logout
{
    float: right;
}

.buttons
{
	margin-left: 20px;
	margin-bottom: 20px;
}

.upload
{
	margin-left: 20px;
	margin-bottom: 20px;
	width: 12%;
}
